.navbar {
	margin-bottom: 0;
}

body {
	background-image: url('../images/whiteback.jpg');
	color: #00264d;
	font-family: 'Arvo', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: ##031424;
}

.jumbotron {
	background: rgba(55, 55, 212, 0.2); 
	color: #00264d;
}
.jumbotron p {
	color: #00264d;
	font-size: 26px;
}

.btn-primary {
	color: #00264d;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: rgba(55, 55, 212, 0.2);
	background-color: white;
	border-color: white;
}

.navbar-inverse {
	background: rgba(55, 145, 174, 0.15);
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #00264d;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: rgba(55, 55, 212, 0.2);
}